Django==4.2.11
django-cors-headers==4.9.0
django-filter==24.3
django-phonenumber-field==8.4.0
django-storages==1.14.4
django-timezone-field==7.2.2
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
boto3==1.35.0
gunicorn==26.0.0
idna==3.18
phonenumbers==9.0.30
pillow==12.3.0
psycopg2-binary==2.9.12
PyJWT==2.13.0
python-dateutil==2.9.0.post0
python-decouple==3.8
PyYAML==6.0.3
requests==2.34.2
setuptools==83.0.0
six==1.17.0
sqlparse==0.5.5
tzdata==2026.2
urllib3==2.7.0
whitenoise==6.12.0
